.sidebar {
  position: fixed;
  z-index: 9999;
  width: 10%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 100vh;
  text-align: center;
  box-shadow: 0px 0px 11px 0px rgba(0, 0, 0, 0.2);
  background-color: #FFF; }

.header-container {
  width: 100%;
  height: 100vh;
  background-image: url("../assets/img/hero.jpg");
  background-size: cover;
  background-position: center;
  text-align: center;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center; }

.header-content {
  width: 40%; }
  .header-content h3 {
    font-weight: 400;
    margin: 1em;
    font-size: calc(17px + (24 - 17) * ((100vw - 300px) / (1600 - 300))); }
  .header-content h4 {
    font-weight: 300;
    margin-top: 1em;
    font-size: calc(14px + (18 - 14) * ((100vw - 300px) / (1600 - 300))); }

.hero-container {
  min-height: 60vh; }

.hero-message {
  background: linear-gradient(135deg, #195E98 0%, #134D7E 100%); }
  .hero-message h2, .hero-message h4 {
    color: #FFF; }
  .hero-message span {
    color: #FF4B11; }

.hero-image {
  background: url("../assets/img/laptop.jpg");
  background-position: center;
  background-size: cover; }

.services-header {
  background-color: #015296;
  min-height: 30vh; }
  .services-header h1 {
    color: #FFF; }
  .services-header p {
    color: #FFF;
    font-weight: 300;
    font-size: calc(14px + (15 - 14) * ((100vw - 300px) / (1600 - 300))); }

@media screen and (max-width: 500px) {
  .header-container {
    height: 90vh; }

  .header-content {
    width: 90%; } }
@media (min-width: 501px) and (max-width: 768px) {
  .header-content {
    width: 90%; }

  .hero-message {
    width: 40% !important;
    flex: none !important; }

  .hero-container {
    min-height: 0; } }
@media (min-width: 900px) and (max-width: 1380px) {
  .header-content {
    width: 60%; } }
main {
  z-index: 9998;
  width: 90%;
  margin-left: 10%; }

@media screen and (max-width: 860px) {
  main {
    width: 100%;
    margin-left: 0; } }
.key-stats {
  background-color: #FF4B11;
  justify-content: space-between;
  padding: 3% 6% 3% 6%; }
  .key-stats h6 {
    font-size: calc(10px + (13 - 10) * ((100vw - 300px) / (1600 - 300)));
    letter-spacing: 1px;
    color: #015296; }
  .key-stats p {
    font-size: calc(20px + (22 - 20) * ((100vw - 300px) / (1600 - 300)));
    font-weight: 400;
    color: #2699FB; }

@media screen and (max-width: 500px) {
  .key-stats {
    padding: 5%; } }
@media (min-width: 501px) and (max-width: 768px) {
  .key-stats {
    padding: 3%;
    margin: 0 0 0 -.5rem; }
    .key-stats div {
      margin-bottom: 0; } }
footer {
  background-color: #333333; }
  footer a {
    color: #FF4B11;
    text-decoration: none;
    transition: all .3s; }
    footer a:hover {
      color: #FFF; }
  footer p {
    color: #FFF;
    font-weight: 300;
    font-size: calc(12px + (15 - 12) * ((100vw - 300px) / (1600 - 300))); }
  footer img {
    max-width: 4%;
    height: auto;
    padding: 0;
    margin: 0;
    display: block; }

@media screen and (max-width: 500px) {
  footer img {
    max-width: 10%; } }
.button-reset {
  background: none;
  border: none; }

.btn-primary {
  font-family: "poppins", sans-serif;
  font-size: 14px;
  letter-spacing: 0;
  background-color: #FF4B11;
  border-radius: 4px;
  color: #FFFFFF;
  border: 3px solid transparent;
  padding: 13px 23px 13px 23px;
  text-transform: uppercase;
  transition: all .3s;
  -webkit-transition: all .3s;
  -moz-transition: all .3s;
  -o-transition: all .3s;
  min-height: 50px;
  min-width: 150px;
  outline: none; }
  .btn-primary:hover {
    background-color: transparent;
    border: 3px solid #FF4B11;
    color: #FF4B11;
    padding: 13px 23px 13px 23px; }

.btn-secondary {
  font-family: "poppins", sans-serif;
  font-size: 14px;
  letter-spacing: 0;
  background-color: transparent;
  border-radius: 4px;
  border: 3px solid #FF4B11;
  color: #FF4B11;
  padding: 13px 23px 13px 23px;
  text-transform: uppercase;
  transition: all .3s;
  -webkit-transition: all .3s;
  -moz-transition: all .3s;
  -o-transition: all .3s;
  min-height: 50px;
  min-width: 150px;
  outline: none; }
  .btn-secondary:hover {
    background-color: #FF4B11;
    border: 3px solid transparent;
    color: #FFF;
    padding: 13px 23px 13px 23px; }

.fw {
  width: 100%; }

.rounded {
  border-radius: 50px; }

.square {
  border-radius: 0px; }

.no-hover-primary:hover {
  background-color: #514A9D;
  border: none;
  color: #FFF;
  padding: 15px 25px 15px 25px; }

.no-hover-secondary:hover {
  background-color: transparent;
  border: 2px solid #514A9D;
  color: #514A9D;
  padding: 13px 23px 13px 23px; }

@media screen and (max-width: 500px) {
  .btn-primary {
    font-size: 13px;
    min-height: 40px;
    min-width: 130px;
    font-weight: 400; }

  .btn-secondary {
    font-size: 13px;
    min-height: 40px;
    min-width: 130px;
    font-weight: 400; } }
@media (min-width: 501px) and (max-width: 768px) {
  .btn-primary {
    font-size: 15px;
    min-height: 45px;
    min-width: 135px;
    font-weight: 400; }

  .btn-secondary {
    font-size: 15px;
    min-height: 45px;
    min-width: 135px;
    font-weight: 400; } }
.contact label {
  display: block;
  font-family: "poppins", sans-serif;
  color: #5A5A5A;
  font-size: calc(15px + (17 - 15) * ((100vw - 300px) / (1600 - 300))); }
.contact input[type=text] {
  border-bottom: 2px solid #FF4B11;
  border-top: none;
  border-right: none;
  border-left: none;
  padding: 0.3em;
  width: 100%;
  box-sizing: border-box;
  font-size: calc(15px + (17 - 15) * ((100vw - 300px) / (1600 - 300)));
  font-family: "poppins", sans-serif;
  color: #333333;
  font-weight: 300; }
  .contact input[type=text]:focus {
    outline: none; }
.contact textarea {
  border-bottom: 2px solid #FF4B11;
  border-top: none;
  border-right: none;
  border-left: none;
  width: 100%;
  box-sizing: border-box;
  resize: vertical;
  display: block;
  padding: 1em 0 0 0;
  font-family: "poppins", sans-serif;
  color: #333333;
  font-weight: 300;
  font-size: calc(15px + (17 - 15) * ((100vw - 300px) / (1600 - 300))); }
  .contact textarea:focus {
    outline: none; }
.contact .field {
  padding: 2% 2% 2% 0; }

.contact-side-container {
  background-color: #FF4B11;
  border-radius: 0 12px 12px 0; }
  .contact-side-container p {
    color: #FFF;
    font-size: calc(12px + (15 - 12) * ((100vw - 300px) / (1600 - 300)));
    font-weight: 300; }

.contact-side-content div {
  display: flex;
  align-items: center; }

@media screen and (max-width: 500px) {
  .contact-side-container {
    border-radius: 0 0 12px 12px; } }
@media (min-width: 501px) and (max-width: 768px) {
  .contact-side-container {
    border-radius: 0 0 12px 12px; }
    .contact-side-container p {
      font-size: 15px; } }
.modal-container {
  top: 0;
  z-index: 1;
  height: 100%;
  width: 100%;
  position: fixed;
  background-color: rgba(0, 0, 0, 0.5);
  overflow-y: scroll;
  padding: 5%; }

.modal {
  display: flex;
  flex-direction: column;
  opacity: 1;
  width: 80%;
  position: relative;
  background-color: #FFF;
  border-radius: 12px; }
  .modal article {
    display: flex; }
  .modal p {
    font-size: calc(12px + (15 - 12) * ((100vw - 300px) / (1600 - 300))); }
  .modal h6 {
    font-size: calc(12px + (15 - 12) * ((100vw - 300px) / (1600 - 300)));
    color: #015296; }
  .modal h2 {
    font-size: calc(20px + (25 - 20) * ((100vw - 300px) / (1600 - 300)));
    color: #015296; }
  .modal h4 {
    font-size: calc(17px + (20 - 17) * ((100vw - 300px) / (1600 - 300))); }
    .modal h4:after {
      content: "";
      border-bottom: 3px solid #FF4B11;
      padding-top: 20px;
      display: block;
      width: 20%; }
  .modal ul {
    margin-bottom: 20px; }
  .modal ul > li {
    font-size: calc(11px + (14 - 11) * ((100vw - 300px) / (1600 - 300)));
    margin-bottom: 5px; }
  .modal strong {
    font-size: calc(12px + (15 - 12) * ((100vw - 300px) / (1600 - 300)));
    color: #333333; }

@media screen and (max-width: 500px) {
  .modal-container {
    padding: 10%; }

  .modal {
    overflow-y: scroll; }
    .modal:after {
      content: "";
      display: block;
      height: 30px;
      width: 100%; } }
@media (min-width: 501px) and (max-width: 768px) {
  .modal-container {
    padding: 10%; }
    .modal-container .modal {
      overflow-y: scroll; }
      .modal-container .modal:after {
        content: "";
        display: block;
        height: 30px;
        width: 100%; } }
p {
  font-size: calc(15px + (17 - 15) * ((100vw - 300px) / (1600 - 300)));
  color: #333333;
  font-family: "poppins", sans-serif;
  color: #5A5A5A; }

li {
  font-size: calc(14px + (17 - 14) * ((100vw - 300px) / (1600 - 300)));
  color: #333333;
  font-family: "poppins", sans-serif; }

h1 {
  color: #333333;
  font-size: calc(25px + (40 - 25) * ((100vw - 300px) / (1600 - 300)));
  font-weight: 700;
  margin: 1.5% 0 1.5% 0;
  font-family: "poppins", sans-serif; }

h2 {
  color: #333333;
  font-size: calc(22px + (33 - 22) * ((100vw - 300px) / (1600 - 300)));
  font-weight: 600;
  margin: 1.5% 0 1.5% 0;
  font-family: "poppins", sans-serif;
  color: #333333; }

h3 {
  font-size: calc(20px + (28 - 20) * ((100vw - 300px) / (1600 - 300)));
  margin: 1.5% 0 1.5% 0;
  color: #333333;
  font-family: "poppins", sans-serif; }

h4 {
  font-size: calc(18px + (25 - 18) * ((100vw - 300px) / (1600 - 300)));
  margin: 1.5% 0 1.5% 0;
  color: #333333;
  font-family: "poppins", sans-serif; }

h5 {
  font-size: calc(18px + (22 - 18) * ((100vw - 300px) / (1600 - 300)));
  margin: 1.5% 0 1.5% 0;
  color: #333333;
  font-family: "poppins", sans-serif; }

h6 {
  color: #333333;
  font-size: calc(16px + (19 - 16) * ((100vw - 300px) / (1600 - 300)));
  margin: 1.5% 0 1.5% 0;
  font-family: "poppins", sans-serif; }

.white-text {
  color: #FFF; }

hr.orange-thick {
  border: 3px solid #FF4B11;
  display: block;
  width: 140px; }

hr.orange-thin {
  border: 2px solid #FF4B11;
  display: block;
  width: 140px; }

hr.white {
  border: 1px solid #FFF;
  display: block;
  width: 50%; }

@media screen and (max-width: 500px) {
  hr.orange-thick {
    border: 2px solid #FF4B11;
    width: 90px; } }
.sidebar ul {
  margin: 0;
  min-width: 100%;
  padding: 0; }

.sidebar ul > li {
  display: block;
  list-style: none;
  text-align: center;
  margin-bottom: 2em;
  font-family: "poppins", sans-serif;
  font-weight: 400; }

.sidebar ul > li > a {
  text-decoration: none;
  color: #333333;
  transition: all .3s;
  letter-spacing: 0.1em;
  font-size: calc(11px + (14 - 11) * ((100vw - 300px) / (1600 - 300))); }
  .sidebar ul > li > a:hover {
    color: #FF4B11; }

.internal-nav-bar {
  background-color: #FF4B11;
  padding: 3% 0 3% 0; }
  .internal-nav-bar a {
    color: #FFF;
    text-decoration: none;
    font-family: "poppins", sans-serif;
    font-weight: 700;
    transition: .3s all;
    letter-spacing: 1.5px;
    font-size: calc(10px + (14 - 10) * ((100vw - 300px) / (1600 - 300))); }
    .internal-nav-bar a:hover {
      color: #015296; }

@media screen and (max-width: 860px) {
  .hamburger-button {
    border: none;
    background-color: transparent;
    padding: 0;
    line-height: 1em;
    display: block;
    outline: none; }

  .nav-container {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    justify-content: space-between;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    padding: 5%;
    box-shadow: 4px 4px 6px 0 rgba(0, 0, 0, 0.2); }

  .mobile-nav-background-container {
    top: 0;
    left: 0;
    z-index: 7;
    height: 100vh;
    width: 100vw;
    position: fixed;
    background-color: rgba(0, 0, 0, 0.5); }

  .mobile-nav-overlay {
    background-color: #333333;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    height: 100vh;
    width: 80vw;
    top: 0;
    right: 0;
    z-index: 8; }
    .mobile-nav-overlay ul {
      padding-left: 0px; }
      .mobile-nav-overlay ul li {
        margin-bottom: 30px;
        line-height: 1.4em; }
        .mobile-nav-overlay ul li a {
          text-decoration: none; }
          .mobile-nav-overlay ul li a h3 {
            font-weight: 300; }

  .mobile-nav-overlay hr {
    color: #eee;
    border: none;
    height: 1px;
    background-color: #fff; }

  .mobile-nav-container {
    padding: 20%; }
    .mobile-nav-container h3 {
      color: white;
      margin: 0; }

  .mobile-menu-close {
    right: 0;
    top: 0;
    position: absolute;
    margin: 10% 10% 0% 0%; }

  .internal-nav-bar a {
    font-weight: 400; } }
@media (min-width: 501px) and (max-width: 768px) {
  .nav-container {
    padding: 3%; } }
.svg-logo {
  max-width: 30%;
  height: auto;
  padding: 0;
  margin: 0;
  display: block; }

.svg-nav-link-mini {
  width: 15%;
  height: auto; }

.nav-link-mini-a:hover {
  fill: #2699FB; }

.isometric {
  max-width: 90%;
  height: auto;
  padding: 0;
  margin: 0;
  display: block; }

.svg-title {
  max-width: 5%;
  height: auto;
  padding: 0;
  margin: 0;
  display: block; }

.svg-card {
  max-width: 25%;
  height: auto;
  padding: 0;
  margin: 0; }

.svg-contact-small {
  max-width: 10%;
  height: auto;
  padding: 0;
  margin: 0; }

.svg-contact-iso {
  max-width: 90%;
  height: auto;
  padding: 0;
  margin: 0; }

.hero-image-50 {
  max-width: 100%;
  height: auto;
  padding: 0;
  margin: 0; }

.staff-profile {
  max-width: 100%;
  height: auto;
  padding: 0;
  margin: 0;
  border-radius: 12px; }

.svg-logo-mobile {
  max-width: 100%;
  max-height: 2em;
  margin: 0; }

.svg-mobile-hamburger {
  max-width: 100%;
  max-height: 1em;
  width: auto;
  height: auto; }

.mobile-menu-close {
  right: 0;
  top: 0;
  position: absolute;
  margin: 10% 10% 0% 0%; }

@media screen and (max-width: 500px) {
  .isometric {
    margin: 0 auto; }

  .svg-title {
    max-width: 12%;
    margin-left: .5rem; }

  .svg-card {
    max-width: 15%;
    height: auto;
    padding: 0;
    margin: 0; }

  .svg-contact-iso {
    max-width: 75%; }

  .svg-contact-small {
    max-width: 7%; } }
@media (min-width: 501px) and (max-width: 768px) {
  .isometric {
    margin: 0 auto;
    max-width: 56%; }

  .svg-title {
    max-width: 8%; }

  .svg-contact-small {
    max-width: 6%; }

  .svg-contact-iso {
    max-width: 50%; }

  .staff-profile {
    max-width: 65%;
    margin: 0 auto;
    display: block; } }
@media (min-width: 769px) and (max-width: 1024px) {
  .isometric {
    margin: 0 auto; }

  .svg-title {
    max-width: 9%; } }
.white-card {
  border-radius: 12px;
  background-color: #FFF;
  box-shadow: 4px 4px 6px 0 rgba(0, 0, 0, 0.2); }

.white-card-secondary {
  border-radius: 19px 0 19px 19px;
  background-color: #FFF;
  box-shadow: 4px 4px 6px 0 rgba(0, 0, 0, 0.2);
  padding: 3% 2% 3% 2%; }
  .white-card-secondary h4 {
    font-size: calc(11px + (14 - 11) * ((100vw - 300px) / (1600 - 300)));
    color: #015296; }
  .white-card-secondary p {
    font-size: calc(14px + (15 - 14) * ((100vw - 300px) / (1600 - 300)));
    font-weight: 300; }

.white-card-projects {
  border-radius: 19px 0 19px 19px;
  background-color: #FFF;
  box-shadow: 4px 4px 6px 0 rgba(0, 0, 0, 0.2);
  padding: 3%; }
  .white-card-projects h3 {
    font-size: calc(15px + (23 - 15) * ((100vw - 300px) / (1600 - 300)));
    color: #015296; }
  .white-card-projects h4 {
    font-size: calc(12px + (17 - 12) * ((100vw - 300px) / (1600 - 300)));
    color: #333333;
    font-weight: 400;
    margin-bottom: 1.3em; }
    .white-card-projects h4:after {
      content: "";
      border-bottom: 2px solid #FF4B11;
      display: block;
      width: 20%;
      padding-top: 20px; }
  .white-card-projects p {
    font-size: calc(12px + (15 - 12) * ((100vw - 300px) / (1600 - 300)));
    font-weight: 300;
    margin: 0.5em 0 0.5em 0; }
  .white-card-projects a {
    font-size: calc(12px + (15 - 12) * ((100vw - 300px) / (1600 - 300)));
    font-weight: 700;
    color: #FF4B11;
    font-family: "poppins", sans-serif;
    text-decoration: none;
    transition: all .3s;
    -webkit-transition: all .3s;
    -moz-transition: all .3s;
    -o-transition: all .3s;
    margin: 0.4em 0 0.4em 0; }
    .white-card-projects a:hover {
      color: #015296; }
  .white-card-projects .grid-row {
    margin: 0; }

.grey-card {
  border-radius: 12px;
  background-color: #333333; }
  .grey-card p {
    color: #FFF;
    font-size: calc(14px + (17 - 14) * ((100vw - 300px) / (1600 - 300))); }

.orange-card {
  background-color: #FF4B11;
  border-radius: 12px;
  box-shadow: 4px 4px 6px 0 rgba(0, 0, 0, 0.2);
  text-align: center;
  margin-bottom: 1rem; }
  .orange-card p {
    color: #FFF;
    font-size: calc(14px + (15 - 14) * ((100vw - 300px) / (1600 - 300)));
    font-weight: 300; }
  .orange-card h6 {
    font-size: calc(12px + (15 - 12) * ((100vw - 300px) / (1600 - 300)));
    font-weight: 700;
    color: #FFF;
    letter-spacing: 1px; }

.cobalt-card {
  border-radius: 19px 0 19px 19px;
  background-color: #333333;
  box-shadow: 4px 4px 6px 0 rgba(0, 0, 0, 0.2);
  padding: 3% 2% 3% 2%; }
  .cobalt-card h4 {
    font-size: calc(11px + (14 - 11) * ((100vw - 300px) / (1600 - 300)));
    color: #FFF; }
  .cobalt-card p {
    font-size: calc(14px + (15 - 14) * ((100vw - 300px) / (1600 - 300)));
    font-weight: 300;
    color: #FFF; }

@media screen and (max-width: 500px) {
  .white-card-secondary {
    padding: 8%; }

  .white-card-projects {
    padding: 8%; }
    .white-card-projects .grid-row {
      flex-direction: inherit; }
    .white-card-projects a {
      font-size: 0.9em; }

  .grey-card {
    padding: 0 2% 0 2%; }
    .grey-card p {
      font-size: calc(11px + (12 - 11) * ((100vw - 300px) / (1600 - 300))); }

  .cobalt-card {
    padding: 8%; } }
.image-underlay {
  background: url("../assets/img/laptop.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 12px;
  position: relative;
  min-height: 350px; }
  .image-underlay article {
    width: 95%;
    border-radius: 12px;
    background-color: #015296;
    position: absolute;
    left: -50px;
    bottom: -50px;
    min-height: 300px; }
    .image-underlay article p {
      color: #FFF; }

.image-underlay-projects {
  background-position: center !important;
  background-size: cover !important;
  background-repeat: no-repeat !important;
  border-radius: 12px;
  position: relative;
  min-height: 350px;
  display: block;
  flex: 1;
  margin: 0 0 7rem .5rem; }
  .image-underlay-projects article {
    width: 70%;
    border-radius: 12px;
    background-color: #FFF;
    position: absolute;
    bottom: -70px;
    left: 15%;
    right: 15%;
    text-align: center;
    padding: 2% 0 4% 0; }
    .image-underlay-projects article h5 {
      color: #333333; }
    .image-underlay-projects article p {
      color: #5A5A5A;
      font-size: calc(12px + (15 - 12) * ((100vw - 300px) / (1600 - 300)));
      font-weight: 300; }
    .image-underlay-projects article hr {
      margin-bottom: 1em; }
    .image-underlay-projects article button {
      color: #FF4B11;
      border: none;
      background: none;
      cursor: pointer;
      font-size: calc(12px + (15 - 12) * ((100vw - 300px) / (1600 - 300)));
      font-weight: 700;
      font-family: "poppins", sans-serif;
      text-decoration: none;
      transition: all .3s; }
      .image-underlay-projects article button:hover {
        color: #015296; }

.projects-card-1 {
  background: url("../assets/img/transport-for-wales.jpg"); }

.projects-card-2 {
  background: url("../assets/img/sep.jpg"); }

.projects-card-3 {
  background: url("../assets/img/babcock-wilcox.jpg"); }

.projects-card-4 {
  background: url("../assets/img/general-electric.jpg"); }

.projects-card-5 {
  background: url("../assets/img/pm.jpg"); }

.projects-card-6 {
  background: url("../assets/img/atkins.jpg"); }

.projects-card-7 {
  background: url("../assets/img/general-dynamics.jpg"); }

.padding-bottom-project-card {
  padding-bottom: 4%; }

@media screen and (max-width: 500px) {
  .image-underlay {
    width: 90% !important;
    min-height: 250px; }
    .image-underlay article {
      bottom: -30px;
      right: -30px;
      left: auto;
      min-height: 200px; }

  .image-underlay-projects {
    min-height: 200px;
    margin-bottom: 50px;
    margin: 0 0 6rem .5rem; }
    .image-underlay-projects article hr {
      width: 30%; }
    .image-underlay-projects article button {
      font-size: calc(13px + (15 - 13) * ((100vw - 300px) / (1600 - 300))); }

  .padding-bottom-project-card {
    padding-bottom: 5rem; } }
@media (min-width: 501px) and (max-width: 768px) {
  .image-underlay {
    width: 90% !important; }
    .image-underlay article {
      left: auto;
      bottom: -75px;
      right: -61px;
      width: 75%; }

  .image-underlay-projects {
    margin: 0 0 7rem 1rem; } }
.steps img {
  max-width: 90%;
  height: auto;
  padding: 0;
  margin: 0; }
.steps h6 {
  color: #FF4B11;
  font-size: calc(12px + (15 - 12) * ((100vw - 300px) / (1600 - 300))); }
.steps p {
  font-size: calc(14px + (15 - 14) * ((100vw - 300px) / (1600 - 300)));
  font-weight: 300; }

@media screen and (max-width: 500px) {
  .steps img {
    max-width: 42%; } }
@media (min-width: 501px) and (max-width: 768px) {
  .steps img {
    max-width: 26%; }
  .steps p {
    margin: 0 20% 0 20%; } }
.staff h5 {
  color: #FF4B11; }
.staff span {
  font-family: "poppins", sans-serif;
  font-weight: 400;
  color: #333333; }
.staff p {
  font-size: calc(14px + (15 - 14) * ((100vw - 300px) / (1600 - 300)));
  font-weight: 300; }

.services {
  margin: 0 0 0 -3rem;
  padding: 0 5% 3rem 5%;
  display: flex; }
  .services article {
    margin: 0 0 0 3rem;
    flex: none;
    width: 17%; }

@media screen and (max-width: 500px) {
  .services {
    margin: 0 0 0 -.5rem !important;
    flex-direction: column; }
    .services article {
      margin: 0 0 1rem .5rem;
      flex: 1;
      width: auto; } }
@media (min-width: 501px) and (max-width: 768px) {
  .services {
    margin: 0 0 0 -1rem !important;
    flex-wrap: wrap;
    padding: 0 5% 1rem 5%; }
    .services article {
      margin: 0 0 0 1rem;
      flex: 1; }

  .services-index {
    margin: 0 0 0 -1rem !important;
    padding: 0 5% 1rem 5%;
    flex-wrap: wrap; }
    .services-index article {
      margin: 0 0 1rem 1rem;
      width: 40%;
      flex: auto; } }

/*# sourceMappingURL=main.css.map */
