// Button containers

.button-container {
}

// Reset

.button-reset {
  background: none;
  border: none;
}

.project-card-button-reset {
  font-size: 12px !important;
  padding: 13px !important;
  min-width: auto !important;
  min-height: auto !important;

  &:hover {
    padding: 13px;
  }
}

// Buttons

.btn-primary {
  font-family: $text-primary;
  font-size: 14px;
  letter-spacing: 0;
  background-color: $color-orange;
  border-radius: 4px;
  color: #FFFFFF;
  border: 3px solid transparent;
  padding: 13px 23px 13px 23px;
  text-transform: uppercase;
  transition: all .3s;
  -webkit-transition: all .3s;
  -moz-transition: all .3s;
  -o-transition: all .3s;
  min-height: 50px;
  min-width: 150px;
  outline: none;
  cursor: pointer;

  &:hover {
    background-color: transparent;
    border: 3px solid $color-orange;
    color: $color-orange;
    padding: 13px 23px 13px 23px;
  }
}

.btn-secondary {
  font-family: $text-primary;
  font-size: 14px;
  letter-spacing: 0;
  background-color: transparent;
  border-radius: 4px;
  border: 3px solid $color-orange;
  color: $color-orange;
  padding: 13px 23px 13px 23px;
  text-transform: uppercase;
  transition: all .3s;
  -webkit-transition: all .3s;
  -moz-transition: all .3s;
  -o-transition: all .3s;
  min-height: 50px;
  min-width: 150px;
  outline: none;
  cursor: pointer;

  &:hover {
    background-color: $color-orange;
    border: 3px solid transparent;
    color: #FFF;
    padding: 13px 23px 13px 23px;
  }
}

// Modifiers

.fw {
  width: 100%;
}

.rounded {
  border-radius: 50px;
}

.square {
  border-radius: 0px;
}

// Hover effects

.no-hover-primary:hover {
  background-color: #514A9D;
  border: none;
  color: #FFF;
  padding: 15px 25px 15px 25px;
}

.no-hover-secondary:hover {
  background-color: transparent;
  border: 2px solid #514A9D;
  color: #514A9D;
  padding: 13px 23px 13px 23px;
}

// Media Queries

// Mobile

@media screen and ( max-width: 720px ) {
  .btn-primary {
    font-size: 13px;
    min-height: 40px;
    min-width: 130px;
    font-weight: $text-weight-regular;
  }

  .btn-secondary {
    font-size: 13px;
    min-height: 40px;
    min-width: 130px;
    font-weight: $text-weight-regular;
  }
}

// Tablet

@media (min-width: 721px) and ( max-width: 1024px ) {
  .btn-primary {
    font-size: 15px;
    min-height: 45px;
    min-width: 135px;
    font-weight: $text-weight-regular;
  }

  .btn-secondary {
    font-size: 15px;
    min-height: 45px;
    min-width: 135px;
    font-weight: $text-weight-regular;
  }
}
