// Cards

.white-card {
  border-radius: $border-radius-primary;
  background-color: $color-white;
  box-shadow: $box-shadow-primary;
}

.white-card-secondary {
  border-radius: $border-radius-primary-top-right;
  background-color: $color-white;
  box-shadow: $box-shadow-primary;
  padding: 3% 2% 3% 2%;

  h4 {
    font-size: calc(11px + (14 - 11) * ((100vw - 300px) / (1600 - 300)));
    color: $color-dark-blue;
  }

  p {
    font-size: calc(12px + (15 - 12) * ((100vw - 300px) / (1600 - 300)));
    font-weight: $text-weight-light;
  }
}

.white-card-projects {
  border-radius: $border-radius-primary-top-right;
  background-color: $color-white;
  box-shadow: $box-shadow-primary;
  padding: 3%;

  h3 {
    font-size: calc(15px + (23 - 15) * ((100vw - 300px) / (1600 - 300)));
    color: $color-dark-blue;
  }

  h4 {
    font-size: calc(12px + (17 - 12) * ((100vw - 300px) / (1600 - 300)));
    color: $color-cobalt;
    font-weight: $text-weight-regular;
    margin-bottom: 1.3em;

    &:after {
      content: "";
      border-bottom: 2px solid $color-orange;
      display: block;
      width: 20%;
      padding-top: 20px;
    }
  }

  p {
    font-size: calc(12px + (15 - 12) * ((100vw - 300px) / (1600 - 300)));
    font-weight: $text-weight-light;
    margin: 0.5em 0 0.5em 0;
  }

  a {
    font-size: calc(12px + (15 - 12) * ((100vw - 300px) / (1600 - 300)));
    font-weight: $text-weight-bold;
    color: $color-orange;
    font-family: $text-primary;
    text-decoration: none;
    transition: all .3s;
    -webkit-transition: all .3s;
    -moz-transition: all .3s;
    -o-transition: all .3s;
    margin: 0.4em 0 0.4em 0;

    &:hover {
      color: $color-dark-blue;
    }
  }

  .grid-row {
    margin: 0;
  }
}

.grey-card {
  border-radius: $border-radius-primary;
  background-color: $color-cobalt;

  p {
    color: $color-white;
  }
}

.orange-card {
  background-color: $color-orange;
  border-radius: $border-radius-primary;
  box-shadow: $box-shadow-primary;
  text-align: center;
  margin-bottom: 1rem;

  p {
    color: $color-white;
    font-size: calc(12px + (15 - 12) * ((100vw - 300px) / (1600 - 300)));
    font-weight: $text-weight-light;
  }

  h6 {
    font-size: calc(12px + (15 - 12) * ((100vw - 300px) / (1600 - 300)));
    font-weight: $text-weight-bold;
    color: $color-white;
    letter-spacing: 1px;
  }
}

// Mobile

@media screen and (max-width: 500px) {
  .white-card-secondary {
    padding: 8%;
  }

  .white-card-projects {
    padding: 8%;

    .grid-row {
      flex-direction: inherit;
    }

    a {
      font-size: 0.9em;
    }
  }

  .grey-card {
    padding: 0 2% 0 2%;

    p {
      font-size: calc(11px + (12 - 11) * ((100vw - 300px) / (1600 - 300)));
    }
  }
}
