// Forms and input boxes


// Contact form

.contact {
  label {
    display: block;
    font-family: $text-primary;
    color: $color-grey;
    font-size: calc(15px + (17 - 15) * ((100vw - 300px) / (1600 - 300)));
  }

  input[type=text] {
    border-bottom: 2px solid $color-orange;
    border-top: none;
    border-right: none;
    border-left: none;
    padding: 0.3em;
    width: 100%;
    box-sizing: border-box;
    font-size: calc(15px + (17 - 15) * ((100vw - 300px) / (1600 - 300)));
    font-family: $text-primary;
    color: $color-cobalt;
    font-weight: $text-weight-light;

    &:focus {
      outline: none;
    }
  }

  textarea {
    border-bottom: 2px solid $color-orange;
    border-top: none;
    border-right: none;
    border-left: none;
    width: 100%;
    box-sizing: border-box;
    resize: vertical;
    display: block;
    padding: 1em 0 0 0;
    font-family: $text-primary;
    color: $color-cobalt;
    font-weight: $text-weight-light;
    font-size: calc(15px + (17 - 15) * ((100vw - 300px) / (1600 - 300)));

    &:focus {
      outline: none;
    }
  }

  .field {
    padding: 2% 2% 2% 0;
  }
}

.contact-side-container {
  background-color: $color-orange;
  border-radius: 0 12px 12px 0;

  p {
    color: $color-white;
    font-size: calc(12px + (15 - 12) * ((100vw - 300px) / (1600 - 300)));
    font-weight: $text-weight-light;
  }
}

.contact-side-content {

  div {
  display: flex;
  align-items: center;
  }
}

// Mobile Responsive
@media screen and ( max-width: 500px ) {
.contact-side-container {
  border-radius: 0 0 12px 12px;
}
}
