// Forms and input boxes


// Contact form

.contact {
  label {
    display: block;
    font-family: $text-primary;
    color: $color-grey;
  }

  input[type=text] {
    border-bottom: 2px solid $color-orange;
    border-top: none;
    border-right: none;
    border-left: none;
    padding: 0.3em;
    width: 100%;
    box-sizing: border-box;
    font-size: calc(15px + (17 - 15) * ((100vw - 300px) / (1600 - 300)));
    font-family: $text-primary;
    color: $color-cobalt;
    font-weight: $text-weight-light;

    &:focus {
      outline: none;
    }
  }

  textarea {
    border-bottom: 2px solid $color-orange;
    border-top: none;
    border-right: none;
    border-left: none;
    width: 100%;
    box-sizing: border-box;
    resize: vertical;
    display: block;
    padding: 1em
  }
}
