.image-underlay {
  background: url("../assets/img/laptop.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: $border-radius-primary;
  position: relative;
  min-height: 350px;

  article {
    width: 95%;
    border-radius: $border-radius-primary;
    background-color: $color-dark-blue;
    position: absolute;
    left: -50px;
    bottom: -50px;
    min-height: 300px;

    p {
      color: $color-white;
    }
  }
}

.image-underlay-projects {
  background-position: center !important;
  background-size: cover !important;
  background-repeat: no-repeat !important;
  border-radius: $border-radius-primary;
  position: relative;
  min-height: 350px;
  display: block;
  flex: 1;
  margin: 0 0 7rem .5rem;

  article {
    width: 70%;
    border-radius: $border-radius-primary;
    background-color: $color-white;
    position: absolute;
    bottom: -70px;
    left: 15%;
    right: 15%;
    text-align: center;
    padding: 2% 0 4% 0;

    h5 {
      color: $color-cobalt;
    }

    p {
      color: $color-grey;
      font-size: calc(12px + (15 - 12) * ((100vw - 300px) / (1600 - 300)));
      font-weight: $text-weight-light;
    }

    hr {
      margin-bottom: 1em;
    }

    button {
      color: $color-orange;
      border: none;
      background: none;
      cursor: pointer;
      font-size: calc(12px + (15 - 12) * ((100vw - 300px) / (1600 - 300)));
      font-weight: $text-weight-bold;
      font-family: $text-primary;
      text-decoration: none;
      transition: all .3s;

      &:hover {
        color: $color-dark-blue;
      }
    }
  }
}

// Projects underlay background links

.projects-card-1 {
  background: url("../assets/img/transport-for-wales.jpg");
}

.projects-card-2 {
  background: url("../assets/img/sep.jpg");
}

.projects-card-3 {
  background: url("../assets/img/babcock-wilcox.jpg");
}

.projects-card-4 {
  background: url("../assets/img/general-electric.jpg");
}

.projects-card-5 {
  background: url("../assets/img/pm.jpg");
}

.projects-card-6 {
  background: url("../assets/img/atkins.jpg");
}

.projects-card-7 {
  background: url("../assets/img/general-dynamics.jpg");
}

// Specific padding for project card containers

.padding-bottom-project-card {
  padding-bottom: 4%;
}

// Mobile Responsive

@media screen and ( max-width: 720px ) {
  .image-underlay {
    width: 90% !important;
    min-height: 250px;

    article {
      bottom: -30px;
      right: -30px;
      left: auto;
      min-height: 200px;
    }
  }

  .image-underlay-projects {
    min-height: 200px;
    margin-bottom: 50px;
    margin: 0 0 6rem .5rem;

    article {

      hr {
        width: 30%;
      }

      button {
        font-size: calc(13px + (15 - 13) * ((100vw - 300px) / (1600 - 300)));
      }
    }
  }

  .padding-bottom-project-card {
    padding-bottom: 5rem;
  }
}

// Tablet

@media (min-width: 721px) and (max-width: 1024px) {
.image-underlay {
  width: 90% !important;
  article {
    left: auto;
    bottom: -75px;
    right: -61px;
    width: 75%;
  }
}

.image-underlay-projects {
  margin: 0 0 7rem 1rem;
}
}
