// svg

.svg-logo {
  max-width: 30%;
  height: auto;
  padding: 0;
  margin: 0;
  display: block;
}

.svg-nav-link-mini {
  width: 15%;
  height: auto;
}

.nav-link-mini-a:hover {
  fill: $color-lightest-blue;
}

.isometric {
  max-width: 90%;
  height: auto;
  padding: 0;
  margin: 0;
  display: block;
}

.svg-title {
  max-width: 5%;
  height: auto;
  padding: 0;
  margin: 0;
  display: block;
}

.svg-card {
  max-width: 25%;
  height: auto;
  padding: 0;
  margin: 0;
}

.svg-contact-small {
  max-width: 10%;
  height: auto;
  padding: 0;
  margin: 0;
}

.svg-contact-iso {
  max-width: 90%;
  height: auto;
  padding: 0;
  margin: 0;
}

// Images

.hero-image-50 {
  max-width: 100%;
  height: auto;
  padding: 0;
  margin: 0;
}

.staff-profile {
  max-width: 100%;
  height: auto;
  padding: 0;
  margin: 0;
  border-radius: $border-radius-primary;
}

// MOBILE

.svg-logo-mobile {
  max-width: 100%;
  max-height: 2em;
  margin: 0;
}

.svg-mobile-hamburger {
  max-width: 100%;
  max-height: 1em;
  width: auto;
  height: auto;
}

.mobile-menu-close {
  right: 0;
  top: 0;
  position: absolute;
  margin: 10% 10% 0% 0%;
}

@media screen and (max-width: 720px) {
  .isometric {
    margin: 0 auto;
  }
  .svg-title {
    max-width: 12%;
    margin-left: .5rem;
  }
  .svg-card {
    max-width: 15%;
    height: auto;
    padding: 0;
    margin: 0;
  }
  .svg-contact-iso {
    max-width: 75%;
  }
  .svg-contact-small {
    max-width: 7%;
  }
}

// Tablet

@media (min-width: 721px) and (max-width: 2024px) {
  .isometric {
    margin: 0 auto;
    max-width: 56%;
  }
  .svg-title {
    max-width: 8%;
  }
  .svg-contact-small {
    max-width: 6%;
  }
  .svg-contact-iso {
    max-width: 50%;
  }
  .staff-profile {
    max-width: 65%;
    margin: 0 auto;
    display: block;
  }
}
