// Modal popups

.modal-container {
  top: 0;
  z-index: 1;
  height: 100%;
  width: 100%;
  position: fixed;
  background-color: rgba(0, 0, 0, 0.5);
  overflow-y: scroll;
  padding: 5%;
}

.modal {
  display: flex;
  flex-direction: column;
  opacity: 1;
  width: 80%;
  position: relative;
  background-color: #FFF;
  border-radius: $border-radius-primary;

  article {
      display: flex;
  }

  p {
    font-size: calc(12px + (15 - 12) * ((100vw - 300px) / (1600 - 300)));
  }

  h6 {
    font-size: calc(12px + (15 - 12) * ((100vw - 300px) / (1600 - 300)));
    color: $color-dark-blue;
  }

  h2 {
    font-size: calc(20px + (25 - 20) * ((100vw - 300px) / (1600 - 300)));
    color: $color-dark-blue;
  }

  h4 {
    font-size: calc(17px + (20 - 17) * ((100vw - 300px) / (1600 - 300)));

    &:after {
      content: "";
      border-bottom: 3px solid $color-orange;
      padding-top: 20px;
      display: block;
      width: 20%;
    }
  }

  ul {
    margin-bottom: 20px;
  }

  ul > li {
    font-size: calc(11px + (14 - 11) * ((100vw - 300px) / (1600 - 300)));
    margin-bottom: 5px;
  }

  strong {
    font-size: calc(12px + (15 - 12) * ((100vw - 300px) / (1600 - 300)));
    color: $color-cobalt;
  }
}

// Mobile responsive

@media screen and (max-width:500px) {
  .modal-container {
    padding: 10%;
  }

  .modal {
    overflow-y: scroll;

    &:after {
      content: "";
      display: block;
      height: 30px;
      width: 100%;
    }
  }
}

// Tablet responsive

@media (min-width: 501px) and (max-width: 768px) {
.modal-container {
  padding: 10%;

  .modal {
    overflow-y: scroll;

    &:after {
      content: "";
      display: block;
      height: 30px;
      width: 100%;
    }
  }

}
}
