// Desktop Sidebar links

.sidebar ul {
  margin: 0;
  min-width: 100%;
  padding: 0;

}

.sidebar ul>li {
  display: block;
  list-style: none;
  text-align: center;
  margin-bottom: 2em;
  font-family: $text-primary;
  font-weight: $text-weight-light;
}

.sidebar ul>li>a {
  text-decoration: none;
  color: $color-cobalt;
  transition: all .3s;
  letter-spacing: 0.1em;
  &:hover {
    color: $color-orange;
  }
}

// Mobile navigation menu

@media screen and ( max-width: 860px ) {
.hamburger-button {
  border: none;
  background-color: transparent;
  padding: 0;
  line-height: 1em;
  display: block;
  outline: none;
}

.nav-container {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  justify-content: space-between;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 5%;
  box-shadow: $box-shadow-primary;
}

.mobile-nav-background-container {
  top: 0;
  left: 0;
  z-index: 7;
  height: 100vh;
  width: 100vw;
  position: fixed;
  background-color: rgba(0, 0, 0, 0.5);
}

.mobile-nav-overlay {
  background-color: #333333;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  height: 100vh;
  width: 80vw;
  top: 0;
  right: 0;
  z-index: 8;

  ul {
    padding-left: 0px;

    li {
      margin-bottom: 30px;
      line-height: 1.4em;
      a {
        text-decoration: none;
        h3 {
          font-weight: $text-weight-light;
        }
      }
    }
  }
}

.mobile-nav-overlay hr {
  color: #eee;
  border: none;
  height: 1px;
  background-color: #fff;
}

.mobile-nav-container {
  padding: 20%;

  h3 {
    color: white;
    margin: 0;
  }
}

.mobile-menu-close {
  right: 0;
  top: 0;
  position: absolute;
  margin: 10% 10% 0% 0%;
}
}
