// 3 card LAYOUT

.services {
  margin: 0 0 0 -3rem;
  padding: 0 5% 3rem 5%;
  display: flex;

  article {
    margin: 0 0 0 3rem;
    flex: none;
    width: 17%;
  }
}

// Mobile responsive

@media screen and (max-width:500px) {
.services {
  margin: 0 0 0 -.5rem !important;
  flex-direction: column;

  article {
    margin: 0 0 1rem .5rem;
    flex: 1;
    width: auto;
  }
}
}

// Tablet responsive

@media (min-width: 501px) and (max-width: 768px) {
.services {
  margin: 0 0 0 -1rem !important;
  flex-wrap: wrap;
  padding: 0 5% 1rem 5%;

  article {
    margin: 0 0 0 1rem;
    flex: 1;
  }
}

.services-index {
  margin: 0 0 0 -1rem !important;
  padding: 0 5% 1rem 5%;
  flex-wrap: wrap;

  article {
    margin: 0 0 1rem 1rem;
    width: 40%;
    flex: auto;
  }
}
}
