// Steps section

.steps {

  img {
    max-width: 90%;
    height: auto;
    padding: 0;
    margin: 0;
  }

  h6 {
    color: $color-orange;
    font-size: calc(12px + (15 - 12) * ((100vw - 300px) / (1600 - 300)));
  }

  p {
    font-size: calc(14px + (15 - 14) * ((100vw - 300px) / (1600 - 300)));
    font-weight: $text-weight-light;
  }
}

// Mobile Responsive

@media screen and (max-width: 720px) {
  .steps {

    img {
      max-width: 42%;
    }
  }
}

// Tablet responsive

@media (min-width: 720px) and ( max-width: 1024px ) {
  .steps {

    img {
      max-width: 26%;
    }

    p {
      margin: 0 20% 0 20%;
    }
  }
}
