p {
  font-size: calc(16px + (19 - 16) * ((100vw - 300px) / (1600 - 300)));
  color: #333333;
}

li {
  font-size: calc(15px + (17 - 15) * ((100vw - 300px) / (1600 - 300)));
  color: #333333;
}

h1 {
  color: #05386B;
  font-size: calc(30px + (50 - 30) * ((100vw - 300px) / (1600 - 300)));
  font-weight: 700;
  margin: 1.5% 0 1.5% 0;
}

h2 {
  color: #05386B;
  font-size: calc(25px + (37 - 25) * ((100vw - 300px) / (1600 - 300)));
  font-weight: 600;
  margin: 1.5% 0 1.5% 0;
}

h3 {
  font-size: calc(22px + (30 - 22) * ((100vw - 300px) / (1600 - 300)));
  margin: 1.5% 0 1.5% 0;
  color: #05386B;
}

h4 {
  font-size: calc(20px + (25 - 20) * ((100vw - 300px) / (1600 - 300)));
  margin: 1.5% 0 1.5% 0;
  color: #171717;
}

h5 {
  font-size: calc(18px + (22 - 18) * ((100vw - 300px) / (1600 - 300)));
  margin: 1.5% 0 1.5% 0;
  color: #171717;
}

h6 {
  color: #05386B;
  font-size: calc(16px + (19 - 16) * ((100vw - 300px) / (1600 - 300)));
  margin: 1.5% 0 1.5% 0;
}
