// Main

main {
  z-index: 9998;
  height: 4000px;
  width: 90%;
  margin-left: 10%;
}

// Mobile responsive

@media screen and (max-width: 860px) {
  main {
    width: 100%;
    margin-left: 0;
  }
}
