footer {
  background-color: $color-cobalt;

  a {
    color: $color-orange;
    text-decoration: none;
    transition: all .3s;

    &:hover {
      color: $color-white;
    }
  }

  p {
    color: $color-white;
    font-weight: $text-weight-light;
    font-size: calc(12px + (15 - 12) * ((100vw - 300px) / (1600 - 300)));
  }

  img {
    max-width: 4%;
    height: auto;
    padding: 0;
    margin: 0;
    display: block;
  }
}

// Mobile responsive

@media screen and (max-width:720px) {
  footer {
    img {
      max-width: 10%;
    }
  }
}
