// Header container

.header-container {
  width: 100%;
  height: 100vh;
  background-image: url("../assets/img/hero.jpg");
  background-size: cover;
  background-position: center;
  text-align: center;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
}

// Index header

.header-content {
  width: 40%;

  h3 {
    font-weight: $text-weight-regular;
    margin: 1em;
    font-size: calc(17px + (24 - 17) * ((100vw - 300px) / (1600 - 300)));
  }
  h4 {
    font-weight: $text-weight-light;
    margin-top: 1em;
    font-size: calc(14px + (18 - 14) * ((100vw - 300px) / (1600 - 300)));
  }
}

// What we do header

.hero-container {
  min-height: 60vh;
}

.hero-message {
  background: linear-gradient(135deg, #195E98 0%,#134D7E 100%);

  h2, h4 {
    color: $color-white
  }

  span {
    color: $color-orange;
  }
}

.hero-image {
  background: url("../assets/img/laptop.jpg");
  background-position: center;
  background-size: cover;
}

// Services header

.services-header {
  background-color: $color-dark-blue;
  min-height: 30vh;

  h1 {
    color: $color-white;
  }

  p {
    color: $color-white;
    font-weight: $text-weight-light;
    font-size: calc(14px + (15 - 14) * ((100vw - 300px) / (1600 - 300)));
  }
}

// Mobile Responsive

@media screen and ( max-width: 720px ) {
.header-container {
  height: 90vh;
}
.header-content {
  width: 90%;
}
}

// Tablet Responsive

@media (min-width: 720px) and ( max-width: 1024px ) {
  .header-content {
    width: 90%;
  }
  .hero-message {
    width: 40% !important;
    flex: none !important;
  }
  .hero-container {
    min-height: 0;
  }
}
