// Container

.key-stats {
  background-color: $color-orange;
  justify-content: space-between;
  padding: 3% 6% 3% 6%;

  h6 {
    font-size: calc(10px + (13 - 10) * ((100vw - 300px) / (1600 - 300)));
    letter-spacing: 1px;
    color: $color-light-blue;
  }

  p {
    font-size: calc(20px + (22 - 20) * ((100vw - 300px) / (1600 - 300)));
    font-weight: $text-weight-regular;
    color: $color-lightest-blue;
  }
}

// Mobile responsive

@media screen and (max-width: 500px) {
  .key-stats {
    padding: 5%;
  }
}

// Tablet responsive

@media (min-width: 501px) and ( max-width: 768px ) {
  .key-stats {
    padding: 3%;
    margin: 0 0 0 -.5rem;

    div {
      margin-bottom: 0;
    }
  }
}
