// Variables - Colours

$color-orange: #FF4B11;
$color-dark-blue: #015296;
$color-light-blue: #015296;
$color-lightest-blue: #2699FB;
$color-grey: #5A5A5A;
$color-cobalt: #333333;
$color-white: #FFF;
$color-background-grey: #F3F3F3;

$gradient-blue: linear-gradient(135deg, #42e695 0%,#3bb2b8 100%);

// Borders

$border-radius-primary: 12px;
$border-radius-primary-top-right: 19px 0 19px 19px;

// Typography

$text-primary: "poppins", sans-serif;
$text-weight-light: 300;
$text-weight-regular: 400;
$text-weight-bold: 700;

// Box shadows

$box-shadow-primary: 4px 4px 6px 0 rgba(0,0,0,0.20);
$box-shadow-secondary: 0px 0px 11px 0px rgba(0, 0, 0, 0.2);
